body {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #f5f5f5;
      margin: 0;
      flex-direction: column;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      width: 800px;
      height: 800px;
      border: 2px solid #333;
    }

    .box {
      aspect-ratio: 1 / 1;
      background:blue;
      border: 1px solid #ccc;
    }
.btn{
    background-color: purple;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    padding: 15px;
    border-radius: 10px;

}